.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draw-options {
    position: absolute;
    z-index: 100;
    bottom: 30px;
    /* left: 50%; */
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 12px 2px #ccc;
}

.draw-options .draw-option {
    border-radius: 50%;
    padding: 10px;
    transition: all var(--animation-transition-duration);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
}

.draw-options .draw-option:hover {
    cursor: pointer;
    background-color: #ccc !important;
}

.draw-options .material-symbols-outlined {
    font-size: 38px;
}


.draw-options .draw-option input[type="radio"] {
    /* pointer-events: auto; */
    display: none;
}

.draw-options .draw-option.change-size {
    box-sizing: border-box;
    border-radius: 20px !important;
    border: 1px solid #ccc;
}

.draw-options .draw-option .color-select {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.draw-options .draw-option .green-color-select {
    background-color: var(--green-color);
}

.draw-options .draw-option .pink-color-select {
    background-color: var(--pink-color);
}

.draw-options .draw-option .black-color-select {
    background-color: var(--black-color);
}

.draw-options-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 12px 2px #ccc;
    align-items: center;
    transition: all 0.2s;
    padding: 5px;
    background-color: #fff;
}

.draw-options-menu .material-symbols-rounded {
    font-size: 38px !important;
}

.draw-options-menu:hover {
    transform: scale(0.8);
}

.draw-options-menu:hover>.material-symbols-rounded {
    transform: scale(0.8);
}

.draw-option.room-code {
    border-radius: 10px;
}

.draw-option.room-code:hover {
    cursor: copy;
}

/* .draw-options .draw-option input[type="radio"]:checked+.material-symbols-outlined {
    background-color: #ccc;
} */

/* .draw-options .draw-option {
    pointer-events: none;
} */

@media screen and (max-width: 600px) {
    .draw-options-menu {
        display: flex;
    }

    .draw-options {
        box-sizing: auto;
        flex-direction: column;
        width: 60px;
        height: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        top: 20px;
        left: 20px;
        display: none;
    }

    .draw-options .draw-option {
        min-height: 40px;
        text-align: center;
    }
}