.canvas-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-div canvas {
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* box-shadow: 0.5px 0.5px 3px 1px #000; */
    border-radius: 15px;
    overflow: hidden;
    cursor: crosshair;
}