.logo {
    font-family: 'Borel', cursive;
    font-size: var(--font-size-2);
    color: var(--text-color);
    position: absolute;
    top: var(--padding-lg);
}

.logo span {
    color: var(--accent-color);
}